

body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin: 0;
    padding: 0;
    background-color:#aad6fd;
    color:#1f263e;
  } 
  
@keyframes slideFromBottom {
    0% {
        transform: translateY(100px)
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideFromTop {
    0% {
        transform: translateY(-100px)
    }
    100% {
        transform: translateY(0);
    }
}

  #background {
    margin-top: 50px;
    margin: 0;
    padding: 0;
    background-color:#aad6fd;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height:100px;
    position:absolute;
    top: 0;
    transition: all .5s ease;
    animation: .6s ease-in-out 0s 1 slideFromBottom;
    z-index: -10;
  }

  #background-lower {
    margin-bottom: -100px;
    margin-top: 50px;
    margin: 0;
    padding: 0;
    background-color:#aad6fd;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height:100px;
    position:absolute;
    top: 0;
    transition: all .5s ease;
    animation: .6s ease-in-out 0s 1 slideFromBottom;
    z-index: -10;
  }

  #nav {
    margin: 0px;
    height: 25%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    animation: .6s ease-in-out 0s 1 slideFromTop;
  }
  
  .title {
    height: 100%; 
    width: 100%;
    padding-top: 20px;;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    letter-spacing: 11px;
  }
  
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;
  }
  
  .bg-primary {
    background-color: #1f263e;
    color: white;
    border: 10px solid #1f263e;
    border-radius: 20px;
    padding: 10px;
    font-size: 2.5em;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    clear: both;
    margin-top: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat'; 
   }
  
  a.bg-primary:hover, a.bg-primary:focus,
  button.bg-primary:hover,
  button.bg-primary:focus {
    background-color: #060a17;
    border: 10px solid #060a17;
  }
  
#searchbar {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    
}



#bar {
    padding: 5px;
    border-radius: 20px;
    width: 34%; 
    background-color: grey;
    min-width: 500px;
    visibility: visible;
}

input {
    padding: 14px;
    font-size: 16px;
    margin-right: 10px;
    border: 0px;
    border-radius: 20px;
    width: 86%;
    text-align: left;
}




#search-button {
    font-size: 16px;
    cursor: pointer;
    border: 0px;
    width: 10%;
}
p {
    font-size: 18px;
    margin-top: 20px;
}

#searchicon {
    text-decoration: none;
    filter: invert (100%);
    margin: 0;
    border: 0px;
    background-color: transparent;
    outline: none;
}

#searchicon:hover {
    mix-blend-mode: soft-light;
    outline: none;
}


#userdata {
    text-align: center;
    height: 100%;
    min-height: 200px;
    margin-top: 190px;
    align-items: center;
    flex-direction: column;
    display: none;
}

div.info-container {
    background-color: #fff;
    border: 5px solid grey;
    width: 40%;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.progress {
    width: 45%;
    margin-bottom: 10px;
} 

#redobutton {
    width: 10%;
    background-color:#1f263e;
    color:#fff;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}

#redobutton:hover {
    background-color:#060a17;
}


